body {
  background-color: #010101;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

.img-header {
  width: 100vw;
  height: 40vh;
  object-position: center;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 10px;
  padding: 30px;
  width: 100%;
  background-color:rgba(255, 228, 196, 0.8);
}
.nav{
  color:black;
  margin: 60px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.nav:hover{
  color: #5a831b;
  font-size: 22px;
  transition: all 1s;
}
.log{
  color: red;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -270px;
}

h1,
h2,
h3,
p {
  color: bisque;
  text-align: center;
}
h1 {
  font-weight: 900;
  text-shadow: 1px 1px 4px white;
  font-size: 45px;
}

.container-all {
  display: flex;
  flex-wrap: wrap;
}
.cont-menu {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}
.cont-dish {
  flex-grow: 1;
  flex-basis: 16%;
}
.block {
  color: white;
  margin-top: 50px;
}
