body {
  background-color: #010101;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

.img-header {
  width: 100vw;
  height: 40vh;
  object-position: center;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -270px;
}

h1,
h2,
h3,
p {
  color: bisque;
  text-align: center;
}
h1 {
  font-weight: 900;
  text-shadow: 1px 1px 4px white;
  font-size: 45px;
}

.container-all {
  display: flex;
  flex-wrap: wrap;
}
.cont-menu {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}
.cont-dish {
  flex-grow: 1;
  flex-basis: 16%;
}
.block {
  color: white;
  margin-top: 50px;
}
